.ProductContainer {
    box-sizing: border-box;
    display: block;
    height: 320px;
    width: 480px
}

.ProductContainer .Title {
    margin-bottom: 0.3em;
    text-align: center;
    width: 100%;
}
